{% extends 'base_html.html'%}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<link rel="stylesheet" href="{% static 'css/elements.css'%}">
{% endblock %}

{% block title %}
    Anasayfa
{% endblock %}

{% block body %}
<section class="">
    <div class="wrapper_section row w-100">
        <div class="section_col col-lg-6 text-start ">
            <h1 class="section_title animbase anim03">FULLFILMENT By AMAZON</h1>
            <h2 class="section_text animbase anim03">Amazon ürünlerinizi kolayca analiz edebilmeyi amaçlıyoruz.</h2>
            <button class="section_button shadow animbase anim05">Şimdi Başlayın!</button>
        </div>
        <div class="section_col col-lg-6 text-end animbase anim05">
            <img class="section_img rounded-3 shadow" src="https://i.pinimg.com/564x/b8/21/ef/b821efde87692f4f891d8e91efd74789.jpg" alt="">
        </div>
    
    
    </div>        
    
    <div class="curve"></div>
    
</section>
<section class="bsr-primary">
    <div class="wrapper_section row w-100">
        <div class="section_col col-lg-6 text-start rounded-3 animbaseoff anim03 shadow p-4" style="background-color: rgba(255, 255, 255, 0.487);">
            <h1 class="section_text text-center animbaseoff anim03"><strong>İhtiyacınız olan tüm bilgiler tek bir yazılımda!</strong></h1>
            <div class="img-wrapper text-center">
            <img class="section_img rounded-3 shadow animbaseoff anim05" src="{% static 'images/ss-ss.png'%}" alt="">
        </div>
        </div>
        <div class="section_col col-lg-5 offset-lg-1 pt-3 text-start animbaseoff anim05">
            <h1 class="section_title  animbaseoff anim03 bg-white px-3 rounded-3" style="font-size: 36px;">Toplu ve Ayrıntılı Ürün Analizi</h1>
            <p class="section_p animbaseoff anim03">Amazon.com'daki binlerce ürünü diğer Amazon pazar yerleri için kâr analizlerini dakikalar içinde yapar.</p>
            <ul class="section_ul animbaseoff anim05">
                <li><i class="fa-solid fa-circle-check pe-2"></i>Satış Sayısı</li>
                <li><i class="fa-solid fa-circle-check pe-2"></i>Kargo, Vergi ve Etiket Maliyetleri</li>
                <li><i class="fa-solid fa-circle-check pe-2"></i>Varyasyonlu ürünlerin Tespiti</li>
                <li><i class="fa-solid fa-circle-check pe-2"></i>Tedarikçi Analizi</li>
                <li><i class="fa-solid fa-circle-check pe-2"></i>Ve daha fazlası...</li>
            </ul>
        </div>
    
    
    </div>      
    <div class="curve"></div>
</section>
<section>
    <div class="wrapper_section row w-100">
        <div class="section_col col-lg-6 text-start ">
            <h1 class="section_title animbaseoff anim03">Kolay Kullanılabilir ve Popüler Yöntemleri Entegre Ediyoruz</h1>
            <h2 class="section_text animbaseoff anim03" style="font-size: 24px;">Ürün analiz etmek için en temel yöntem olan asin taramasını kolaylıkla gerçekleştirebilmeyi amaçlıyoruz. Tek yapmanız gereken Asin Ekle butonu ile elinizdeki asinleri kuyruğa göndermek.</h2>
            
        </div>
        <div class="section_col col-lg-6 text-end animbaseoff anim05">
            <img class="w-75 rounded-3 shadow" src="https://www.fbasellersecret.com/static/images/asin-optionn.png" alt="">
        </div>
        
        
    </div>    
    <div class="curve"></div>
</section>
<section class="bsr-primary">
    <div class="wrapper_section row w-100">
        <div class="section_col col-lg-6 text-start animbaseoff anim05">
            
            <img class="w-75 rounded-3 shadow" src="https://www.fbasellersecret.com/static/images/keepa-option.png" alt="">
        </div>
        <div class="section_col col-lg-6 text-end animbaseoff anim05">
            <h1 class="section_title animbaseoff anim03">Diğer yazılımlarla uyumlu!</h1>
            <h2 class="section_text animbaseoff anim03" style="font-size: 24px;">Çoğu Amazon satıcısının favori programlarından birisi olan Keepa ile uyumludur
                Sizde Keepa'dan indirilen excel dosyaları ile daha da hızlı analiz gerçekleştirebilirsiniz</h2>
        </div>
    
    
    </div>
   
</section>
<section style="padding-top: 1%; padding-bottom: 0%;">
    
    <div class="wrapper_section row w-100">
        <div class="section_col col-lg-12 mb-3 text-center animbaseoff anim03">
            <h1 class="section_title">Hizmet Verdiğimiz Ülkeler</h1>
        </div>
        <div class="section_col text-center col text-start px-1">
            <img class="home_flag" src="{% static 'images/usa_flag.png'%}" alt="">
        </div> 
        <div class="section_col text-center col text-start px-1">
            <img class="home_flag" src="{% static 'images/canada_flag.png'%}" alt="">
        </div> 
        <div class="section_col text-center col text-start px-1">
            <img class="home_flag" src="{% static 'images/germany_flag.png'%}" alt="">
        </div> 
        <div class="section_col text-center col text-start px-1">
            <img class="home_flag" src="{% static 'images/united_kingdom_flag.png'%}" alt="">
        </div> 
        <div class="section_col text-center col text-start px-1">
            <img class="home_flag" src="{% static 'images/japan_flag.png'%}" alt="">
        </div> 
        <div class="section_col text-center col text-start px-1">
            <img class="home_flag" src="{% static 'images/france_flag.png'%}" alt="">
        </div> 
        <div class="section_col text-center col text-start px-1">
            <img class="home_flag" src="{% static 'images/australia_flag.png'%}" alt="">
        </div> 
    
    
    </div>
</section>

<script src="{% static 'js/animations.js'%}"></script>

{% endblock %}